@import "includes/global-rules";
@import "includes/variables";
@import "includes/mixin";

.container {
  @include flex-center();
  height: 100vh;
  background-color: hsl(217, 54%, 11%);

  .card {
    // dimentions
    width: 300px;
    padding: 20px;
    // border
    border-radius: 10px;
    // colors and shadow
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 0 0 20px rgba(10, 22, 38, 0.4), 0 0 0 40px rgba(10, 22, 38, 0.1);

    .image {
      // dimentions
      width: 260px;
      height: 260px;
      // others
      border-radius: 5px;
      cursor: pointer;
      // transiton
      position: relative;


      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(./images/activeimage.PNG);
        background-size: cover;
        opacity: 0;
        transition: $maintransition;
      }

      img {
        width: 100%;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .text {
      h2 {
        color: $whiteColor;
        margin: 20px 0 10px;
        font-size: 22px;
        cursor: pointer;
        transition: $maintransition;

        &:hover {
          color: $activeColor;
        }
      }

      p {
        color: $secondColor;
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 18px;
      }
    }

    .times {
      @include flex-space-between();
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(139, 172, 218, 0.3);

      span:first-child {
        @include flex-center();
        gap: 7px;
        color: rgb(0, 255, 248);
      }

      span:last-child {
        @include flex-center();
        gap: 7px;
        color: rgb(139, 172, 217);
      }
    }

    .creation {
      margin-top: 15px;
      display: flex;
      align-items: center;

      img {
        width: 35px;
        border-radius: 50%;
        border: 1px solid $whiteColor;
        margin-right: 10px;
      }

      p {
        color: $secondColor;

        span {
          color: $whiteColor;
          cursor: pointer;
          transition: $maintransition;

          &:hover {
            color: $activeColor;
          }
        }
      }
    }

  }
}